.camera {
  position: relative;
  display:inline-block;
}
#video, #IDphoto {
  border: 1px solid black;
  width: 640px;
  height:480px;
}
.overlay-desc {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
}
h1 {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 20vw;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

#canvas {
  display:none;
}

.badge {
  height: 2.25in;
  width: 3.5in;
  background-image: url('../images/badge_bg.jpg');
  background-size: 100% 100%;
}

.badge-logo {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}

.badge-img {
  height: 1in;
  width: 1in;
}

#photo {
  margin-top: 3%;
  height: .75in;
  width: .75in;
}


#return {
  position:relative;
  left:45%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 640px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#profile-pic{
  width: 425.170px;
  height: 425.170px;
}



@media print
{
    * {-webkit-print-color-adjust:exact;}
    #return{
      display: none;
    }
}